@model ArtistSocialNetwork.Models.DocumentInfoDTO

@{
    ViewData["Title"] = "Create";
}

@section Style {
    <style>
        .form-check .form-check-input {
            margin-left: 0px !important;
        }
    </style>
}
<div class="bdlayout p-0">
    <h2 class="h2-title bg7 text-white ">Thêm tài khoản mới</h2>
    @{
        if (TempData["AlertMessage"] != null)
        {
            <div id="alert-message" class="alert @TempData["AlertType"]">
                @TempData["AlertMessage"]
            </div>
        }
    }
    <div class="container my-4">

        <form enctype="multipart/form-data" asp-action="Create" method="post">
            <div class="row">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-check col-md-6 ">
                    <label class="form-check-label">
                        @Html.DisplayNameFor(model => model.Active) <br />
                        <input class="form-check-input" asp-for="Active" />
                    </label>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdAc" class="control-label"></label>
                    <select asp-for="IdAc" class="form-control" asp-items="ViewBag.IdAccount">
                        <option value="">Chọn Người Dùng</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdEvent" class="control-label"></label>
                    <select asp-for="IdEvent" class="form-control" asp-items="ViewBag.IdEvent">
                        <option value="">Chọn Sự Kiện</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdProject" class="control-label"></label>
                    <select asp-for="IdProject" class="form-control" asp-items="ViewBag.IdProject">
                        <option value="">Chọn Dự Án</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdArtwork" class="control-label"></label>
                    <select asp-for="IdArtwork" class="form-control" asp-items="ViewBag.IdArtwork">
                        <option value="">Chọn Tác Phẩm</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    <img id="preview" src="@Url.Content(ViewBag.Anh==null?"~/Admin/img/avatars/01.png":"~/Upload/images/"+ViewBag.Anh)" class="" height="40" width="70" />
                </div>
                <div class="form-group btnGround">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Trở lại</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        DateTime currentDate = DateTime.Now;

    }
    <script src="
https://cdn.jsdelivr.net/npm/ckeditor5-classic-free-full-feature@35.4.1/build/ckeditor.min.js
            "></script>
    
    <script src="~/Admin/controllers/DocumentController.js?@currentDate"></script>
}
