@{
    ViewData["Title"] = "Cá Nhân";
}
@section Style {
    <link href="~/Website/assets/css/personal.css" rel="stylesheet" />

}

<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light rounded p-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 text-center mb-3 mb-md-0 user-avt position-relative">
                            <img src="~/Upload/images/@ViewBag.ProfileImage"
                                 alt="avt"
                                 class="img-fluid rounded-circle"
                                 width="100" />
                            <a class="updateAvt" href="@Url.Action("Index", "AccountSettings")"><i class="fas fa-pencil-alt"></i></a>
                        </div>
                        <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0 user__information">
                            <h3 class="fullname">@ViewBag.FullName</h3>
                            <p class="follow">Người Theo Dõi: <span>@ViewBag.FollowersCount</span></p>
                            <p class="follow">Đang Theo Dõi: <span>@ViewBag.FollowingCount</span></p>

                        </div>
                        <div class="col-12 col-md-3 text-center text-md-end py-3">
                            <a href="@Url.Action("Index", "EditProfile")" class="btn btn-primary text-white">Chỉnh Sửa Trang Cá Nhân</a>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="col-12">
                    <div class="row">
                        <!-- Danh Sách Follower - Ẩn trên màn hình điện thoại -->
                        

                        <div class="col-12 col-md-12 post">
                            <h4 class="">Bài Đăng </h4>

                            @if (ViewBag.UserPosts != null && ViewBag.UserPosts.Count > 0)
                            {
                                foreach (var post in ViewBag.UserPosts)
                                {
                                    <div class="post-item bdlayout mb-4">
                                        <div class="post-user">
                                            <div class="user-show d-flex align-items-center mb-2">
                                                <img src="~/Upload/images/@ViewBag.ProfileImage"
                                                     alt="Profile Image"
                                                     class="img-fluid rounded-circle me-2"
                                                     width="40" />
                                                <div class="user-name">
                                                    <span class="fw-bold">@ViewBag.FullName</span>
                                                    <span class="text-muted d-block" style="font-size: 0.85rem">
                                                        @post.TimeAgo
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="artwork mb-2">
                                                <h3 class="bold">@post.Title</h3>
                                                <div class="post-content-wrapper">
                                                    <p class="post-content mb-2">@post.Content</p>
                                                    <span class="show-more" style="display: none; cursor: pointer">Xem thêm</span>
                                                </div>
                                                <div class="post-images @post.GridClass">
                                                    @foreach (var image in post.Images)
                                                    {
                                                        <img src="~/Upload/images/@image" alt="Post Image" class="img-fluid rounded" />
                                                    }
                                                </div>
                                            </div>


                                            <div class="comment mb-2">
                                                @if (post.IsArtwork)
                                                {
                                                    <span id="like-count-@post.ArtworkId">@post.LikeCount Lượt Thích</span>
                                                }
                                            </div>

                                            @if (post.IsArtwork)
                                            {
                                                <div class="reaction d-flex justify-content-around">
                                                    <button class="btn btn-light like-btn" data-id="@post.ArtworkId">
                                                        <i class="fa-heart @(post.IsLikedByCurrentUser ? "fas text-danger" : "far")"></i>
                                                    </button>
                                                    <button class="btn btn-light"><i class="far fa-comment"></i></button>
                                                    <button class="btn btn-light"><i class="fas fa-share"></i></button>
                                                    <button class="btn btn-light"><i class="fas fa-bookmark"></i></button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center">Không có bài đăng nào để hiển thị.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Image Viewing -->
<div id="imageModal" class="modal">
    <span class="close" style="color: black"><i class="fas fa-times"></i></span>
    <img id="modalImage" class="modal-content" alt="Image">
    <div class="modal-nav">
        <button id="prevImage" style="margin-right: auto;"><i class="fas fa-chevron-left"></i></button>
        <button id="nextImage"><i class="fas fa-chevron-right"></i></button>
    </div>
</div>

@section Scripts{
    @{
        DateTime currentDate = DateTime.Now;
    }
    <script src="~/Website/assets/js/persoanl.js?@currentDate"></script>
}
